.main-4{display:flex;
    flex-direction:column;
        justify-content: center;
    gap:50px;
    margin-top:30px;}
    .main-4 h2{display:flex;
        justify-content: center;font-size:32px;}

.head-3{display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:50px;}

.jobtitles{display:flex;flex-direction: column;align-items: center;gap:10px;}
.jobtitles div{font-size:18px;display:flex;}
.textarea2{width:40vmax;outline:none;border:none;
    height:120px;padding:10px;
    border-radius:10px;
    resize:none;}


.buttons{display:flex;place-content: center;margin-top:10px;flex-direction: column;align-items: center;gap:20px;font-size:20px;}
 .nextb{width:83px;
                height:56px;
            color:white;
            border:none;
        background-color: rgb(108, 171, 249);
        border-radius:16px;}

        .studbt{width:120px;
            height:56px;
        color:white;
        border:none;
    background-color:rgba(37, 206, 209, 1);
    border-radius:16px;}